# Hive
We use the *pyHive* lib: https://github.com/dropbox/PyHive

## Resources
* [HQL cheat sheet](http://hortonworks.com/wp-content/uploads/2016/05/Hortonworks.CheatSheet.SQLtoHive.pdf)
* [Hive reference](https://cwiki.apache.org/confluence/display/Hive/LanguageManual)

## Install
Install *pyHive* via *anaconda*

In [1]:
!pip install -q condacolab

In [2]:
import condacolab
condacolab.install()

â¬ Downloading https://github.com/jaimergp/miniforge/releases/download/24.11.2-1_colab/Miniforge3-colab-24.11.2-1_colab-Linux-x86_64.sh...
ðŸ“¦ Installing...
ðŸ“Œ Adjusting configuration...
ðŸ©¹ Patching environment...
â² Done in 0:00:13
ðŸ” Restarting kernel...

In [5]:
!pip install pyhive thrift thrift_sasl

Requirement already satisfied: pyhive in /usr/local/lib/python3.11/site-packages (0.7.0)
Requirement already satisfied: thrift in /usr/local/lib/python3.11/site-packages (0.21.0)
Collecting thrift_sasl
  Downloading thrift_sasl-0.4.3-py2.py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: future in /usr/local/lib/python3.11/site-packages (from pyhive) (1.0.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/site-packages (from pyhive) (2.9.0.post0)
Requirement already satisfied: six>=1.7.2 in /usr/local/lib/python3.11/site-packages (from thrift) (1.17.0)
Collecting pure-sasl>=0.6.2 (from thrift_sasl)
  Downloading pure-sasl-0.6.2.tar.gz (11 kB)
  Preparing metadata (setup.py) ... done
Downloading thrift_sasl-0.4.3-py2.py3-none-any.whl (8.3 kB)
Building wheels for collected packages: pure-sasl
  Building wheel for pure-sasl (setup.py) ... done
  Created wheel for pure-sasl: filename=pure_sasl-0.6.2-py3-none-any.whl size=11422 sha256=59a55f60f1e4e61fddd109f21535543de3c0bf7e51116151ea43c836651a703a
  Stored in directory: /root/.cache/pip/wheels/be/bd/15/23761a50b737a712aacac51c718906ce3563705a336d2c4ffc
Successfully built pure-sasl
Installing collected packages: pure-sasl, thrift_sasl
Successfully installed pure-sasl-0.6.2 thrift_sasl-0.4.3

In [6]:
#import libs
from pyhive import hive
from TCLIService.ttypes import TOperationState

In [7]:
# try to connect
server="ec2-34-242-59-145.eu-west-1.compute.amazonaws.com"
cursor = hive.connect(server).cursor()

In [8]:
#show our databases
cursor.execute('show databases')

In [9]:
#get data from execution
cursor.fetchall()

[('default',)]

In [10]:
#use default db
cursor.execute('use default')

In [13]:
#show tables in db
cursor.execute('show tables')

In [14]:
cursor.fetchall()

[('hue__tmp_employees',), ('hue__tmp_salaries',)]

In [15]:
# get table layout
cursor.execute('describe hue__tmp_employees')
cursor.fetchall()

[('field_1', 'bigint', ''),
 ('field_2', 'string', ''),
 ('field_3', 'string', ''),
 ('field_4', 'string', ''),
 ('field_5', 'string', ''),
 ('field_6', 'string', '')]

In [17]:
#select data
cursor.execute('select * from hue__tmp_employees')

In [18]:
#get daata from selction
employee = cursor.fetchall()

In [ ]:
#have a look
employee[:10]

[(10001, "'1953-09-02'", "'Georgi'", "'Facello'", "'M'", "'1986-06-26'"),
 (10002, "'1964-06-02'", "'Bezalel'", "'Simmel'", "'F'", "'1985-11-21'"),
 (10003, "'1959-12-03'", "'Parto'", "'Bamford'", "'M'", "'1986-08-28'"),
 (10004, "'1954-05-01'", "'Chirstian'", "'Koblick'", "'M'", "'1986-12-01'"),
 (10005, "'1955-01-21'", "'Kyoichi'", "'Maliniak'", "'M'", "'1989-09-12'"),
 (10006, "'1953-04-20'", "'Anneke'", "'Preusig'", "'F'", "'1989-06-02'"),
 (10007, "'1957-05-23'", "'Tzvetan'", "'Zielinski'", "'F'", "'1989-02-10'"),
 (10008, "'1958-02-19'", "'Saniya'", "'Kalloufi'", "'M'", "'1994-09-15'"),
 (10009, "'1952-04-19'", "'Sumant'", "'Peac'", "'F'", "'1985-02-18'"),
 (10010, "'1963-06-01'", "'Duangkaew'", "'Piveteau'", "'F'", "'1989-08-24'")]

In [19]:
# get salary table layout
cursor.execute('describe hue__tmp_salaries')
cursor.fetchall()

[('field_1', 'bigint', ''),
 ('field_2', 'bigint', ''),
 ('field_3', 'string', ''),
 ('field_4', 'string', '')]

In [20]:
#select data
cursor.execute('select * from hue__tmp_salaries')

In [21]:
#get daata from selction
salary = cursor.fetchall()

In [22]:
salary[:10]

[(10001, 60117, "'1986-06-26'", "'1987-06-26'"),
 (10001, 62102, "'1987-06-26'", "'1988-06-25'"),
 (10001, 66074, "'1988-06-25'", "'1989-06-25'"),
 (10001, 66596, "'1989-06-25'", "'1990-06-25'"),
 (10001, 66961, "'1990-06-25'", "'1991-06-25'"),
 (10001, 71046, "'1991-06-25'", "'1992-06-24'"),
 (10001, 74333, "'1992-06-24'", "'1993-06-24'"),
 (10001, 75286, "'1993-06-24'", "'1994-06-24'"),
 (10001, 75994, "'1994-06-24'", "'1995-06-24'"),
 (10001, 76884, "'1995-06-24'", "'1996-06-23'")]

## Ex 1
Get employees sorted by ``family_name``. Return first 10 entries.

In [ ]:
cursor.execute(" ")

In [ ]:
cursor.fetchall()

## Ex 2
Get ``family_name`` and ``salary`` of employees sorted by salary. Return first 100 entries. Hint: you need to join both tables...

In [ ]:
cursor.execute(" ")
data=cursor.fetchall()

## Ex 3
Get the average salary by gender. Hint: use Group by

In [ ]:
cursor.execute(" ")
cursor.fetchall()