# Hive
We use the *pyHive* lib: https://github.com/dropbox/PyHive

## Resources
* [HQL cheat sheet](http://hortonworks.com/wp-content/uploads/2016/05/Hortonworks.CheatSheet.SQLtoHive.pdf)
* [Hive reference](https://cwiki.apache.org/confluence/display/Hive/LanguageManual)

## Install
Install *pyHive* via *anaconda*

In [1]:
!pip install -q condacolab

In [2]:
import condacolab
condacolab.install()

⏬ Downloading https://github.com/conda-forge/miniforge/releases/download/23.1.0-1/Mambaforge-23.1.0-1-Linux-x86_64.sh...
📦 Installing...
📌 Adjusting configuration...
🩹 Patching environment...
⏲ Done in 0:00:13
🔁 Restarting kernel...

In [1]:
!conda install -y pyhive sasl

Collecting package metadata (current_repodata.json): - \ | / - \ | / - \ | / - \ | / - \ | / - done
Solving environment: | / - \ | / - \ | / - \ | / - \ | / done


==> WARNING: A newer version of conda exists. <==
  current version: 23.1.0
  latest version: 23.10.0

Please update conda by running

    $ conda update -n base -c conda-forge conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.10.0



# All requested packages already installed.

In [2]:
#import libs
from pyhive import hive
from TCLIService.ttypes import TOperationState

In [4]:
# try to connect
server="ec2-54-74-226-178.eu-west-1.compute.amazonaws.com"
cursor = hive.connect(server).cursor()

In [5]:
#show our databases
cursor.execute('show databases')

In [10]:
#get data from execution
cursor.fetchall()

[]

In [11]:
#use default db
cursor.execute('use default')

In [12]:
#show tables in db
cursor.execute('show tables')

In [13]:
cursor.fetchall()

[('employees',), ('salaries',)]

In [15]:
# get table layout
cursor.execute('describe employees')
cursor.fetchall()

[('field_1', 'bigint', ''),
 ('field_2', 'string', ''),
 ('field_3', 'string', ''),
 ('field_4', 'string', ''),
 ('field_5', 'string', ''),
 ('field_6', 'string', '')]

In [16]:
#select data
cursor.execute('select * from employees')

In [17]:
#get daata from selction
employee = cursor.fetchall()

In [18]:
#have a look
employee[:10]

[(10001, "'1953-09-02'", "'Georgi'", "'Facello'", "'M'", "'1986-06-26'"),
 (10002, "'1964-06-02'", "'Bezalel'", "'Simmel'", "'F'", "'1985-11-21'"),
 (10003, "'1959-12-03'", "'Parto'", "'Bamford'", "'M'", "'1986-08-28'"),
 (10004, "'1954-05-01'", "'Chirstian'", "'Koblick'", "'M'", "'1986-12-01'"),
 (10005, "'1955-01-21'", "'Kyoichi'", "'Maliniak'", "'M'", "'1989-09-12'"),
 (10006, "'1953-04-20'", "'Anneke'", "'Preusig'", "'F'", "'1989-06-02'"),
 (10007, "'1957-05-23'", "'Tzvetan'", "'Zielinski'", "'F'", "'1989-02-10'"),
 (10008, "'1958-02-19'", "'Saniya'", "'Kalloufi'", "'M'", "'1994-09-15'"),
 (10009, "'1952-04-19'", "'Sumant'", "'Peac'", "'F'", "'1985-02-18'"),
 (10010, "'1963-06-01'", "'Duangkaew'", "'Piveteau'", "'F'", "'1989-08-24'")]

In [20]:
# get salary table layout
cursor.execute('describe salaries')
cursor.fetchall()

[('field_1', 'bigint', ''),
 ('field_2', 'bigint', ''),
 ('field_3', 'string', ''),
 ('field_4', 'string', '')]

In [21]:
#select data
cursor.execute('select * from salaries')

In [22]:
#get daata from selction
salary = cursor.fetchall()

In [23]:
salary[:10]

[(10001, 60117, "'1986-06-26'", "'1987-06-26'"),
 (10001, 62102, "'1987-06-26'", "'1988-06-25'"),
 (10001, 66074, "'1988-06-25'", "'1989-06-25'"),
 (10001, 66596, "'1989-06-25'", "'1990-06-25'"),
 (10001, 66961, "'1990-06-25'", "'1991-06-25'"),
 (10001, 71046, "'1991-06-25'", "'1992-06-24'"),
 (10001, 74333, "'1992-06-24'", "'1993-06-24'"),
 (10001, 75286, "'1993-06-24'", "'1994-06-24'"),
 (10001, 75994, "'1994-06-24'", "'1995-06-24'"),
 (10001, 76884, "'1995-06-24'", "'1996-06-23'")]

## Ex 1
Get employees sorted by ``family_name``. Return first 10 entries.

In [ ]:
cursor.execute(" ")

In [ ]:
cursor.fetchall()

## Ex 2
Get ``family_name`` and ``salary`` of employees sorted by salary. Return first 100 entries. Hint: you need to join both tables...

In [ ]:
cursor.execute(" ")
data=cursor.fetchall()

## Ex 3
Get the average salary by gender. Hint: use Group by

In [ ]:
cursor.execute(" ")
cursor.fetchall()